<main>

    <div class="container-fluid">

        <h1 class="mt-4">Jonathan's Personal Details</h1><br>

            <ul class="breadcrumb mb-4">

                <li class="breadcrumb-item"><img src="assets/id.jpg" width="140px" height="200px"></li>

                <ul style="padding-top: 5px;"><li class="breadcrumb-item active">Name - Jonathan</li> <br>

                <li class="breadcrumb-item active">Employee ID - ap784</li> <br>

                <li class="breadcrumb-item active">Date of Joining - 02/08/2018</li> <br>

                <li class="breadcrumb-item active">Designation - Accountant</li> </ul> <br>

            </ul>

    </div> 

</main> 
