<div class="containerMain">
                            
    <div class="container-fluid">

        <h1 class="mt-4" style="margin-left: -33%; margin-top: 0%;" >Tiger </h1>
        <!-- <h1 class="mt-4" style="margin-left: -33%; margin-top: 0%;" >{{firstName.value}} {{lastName.value}} </h1> -->

        <ol class="breadcrumb mb-4">

            <li class="breadcrumb-item active">Dashboard</li>

        </ol>

        <div class="row">

              <div class="rowLine1">

                <div class="col-xl-3 col-md-6"> 

                    <div class="card bg-primary text-white mb-4">

                        <div class="card-body">Birthdays</div>

                        <div class="card-footer d-flex align-items-center justify-content-between">

                            <a class="small text-white stretched-link" href="#">View Details</a>

                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>

                        </div>

                    </div>   

                </div>   

                <div class="col-xl-3 col-md-6">

                  <div class="card bg-warning text-white mb-4">

                      <div class="card-body">My Holidays</div>

                      <div class="card-footer d-flex align-items-center justify-content-between">

                          <a class="small text-white stretched-link" href="#">View Details</a>

                          <div class="small text-white"><i class="fas fa-angle-right"></i></div>

                      </div>

                  </div>

                </div>

                <div class="col-xl-3 col-md-6">

                  <div class="card bg-success text-white mb-4">

                      <div class="card-body">Company Anouncement</div>

                      <div class="card-footer d-flex align-items-center justify-content-between">

                          <a class="small text-white stretched-link" href="#">View Details</a>

                          <div class="small text-white"><i class="fas fa-angle-right"></i></div>

                      </div>

                  </div>

                </div>

                <div class="col-xl-3 col-md-6">

                  <div class="card bg-danger text-white mb-4">

                      <div class="card-body">Quick Links</div>

                      <div class="card-footer d-flex align-items-center justify-content-between">

                          <a class="small text-white stretched-link" href="#">View Details</a>

                          <div class="small text-white"><i class="fas fa-angle-right"></i></div>

                      </div>

                  </div>

                </div>

              </div>
           
        </div>
         

        <div class="row">
          <div class="rowLine2">

            <div class="col-xl-6">

                <div class="card mb-4">

                    <div class="card-header">

                        <i class="fas fa-chart-area mr-1"></i>

                        Weekly Analysis

                    </div>

                    <div class="card-body"><img src="assets/Areachart.jpg" alt="" width="125%" height="150" style="margin-top: 3%;"></div> 

                </div>

            </div>

            <div class="col-xl-6">

                <div class="card mb-4">

                    <div class="card-header">

                        <i class="fas fa-chart-bar mr-1"></i>

                        Monthly Report

                    </div>

                    <div class="card-body"><img src="assets/barchart.png" alt="" width="130%" height="150" style="margin-top: 3%;"></div>

                </div>

            </div>

        </div>

        <div class="employeeData">
        <div class="card mb-4">

            <div class="card-header">

                <i class="fas fa-table mr-1"></i>

                Employee Data

            </div>

            <div class="card-body">

                <div class="table-responsive">

                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="5" >

                        <thead>

                            <tr>

                                <th>Name</th>

                                <th>Position</th>

                                <th>Office</th>

                                <th>Age</th>

                                <th>Start date</th>

                                <th>Salary</th>

                            </tr>

                        </thead>

                        <tbody>

                            <tr>

                                <td>Tiger Nixon </td>

                                <td>System Architect</td>

                                <td>Edinburgh</td>

                                <td>61</td>

                                <td>2011/04/25</td>

                                <td>$320,800</td>

                            </tr>

                            <tr>

                                <td>Garrett Winters</td>

                                <td>Accountant</td>

                                <td>Tokyo</td>

                                <td>63</td>

                                <td>2011/07/25</td>

                                <td>$170,750</td>

                            </tr>

                            <tr>

                                <td>Ashton Cox</td>

                                <td>Junior Technical Author</td>

                                <td>San Francisco</td>

                                <td>66</td>

                                <td>2009/01/12</td>

                                <td>$86,000</td>

                            </tr>

                            <tr>

                                <td>Cedric Kelly</td>

                                <td>Senior Javascript Developer</td>

                                <td>Edinburgh</td>

                                <td>22</td>

                                <td>2012/03/29</td>

                                <td>$433,060</td>

                            </tr>

                            <tr>

                                <td>Airi Satou</td>

                                <td>Accountant</td>

                                <td>Tokyo</td>

                                <td>33</td>

                                <td>2008/11/28</td>

                                <td>$162,700</td>

                            </tr>

                        </tbody>

                    </table>

                </div>

            </div>

        </div>
      </div>

    </div>
  </div>
</div>