.containerMain {
    display: flex;
    align-items:center;
    justify-content: center;
    margin-left: 15%;   
    /* margin-right: -15%;  */
    margin-top: -40%;
    /* width: 83%; */
    /* padding-right: -5; */
    background-color: gray;
}
  

/* .row {
    display: flex;
    gap: 25%;
    margin-bottom: 10%;  
    align-items:center;
    justify-content: center;
    margin-left: -20%;    
    margin-top: -45%;
    background-color: lightblue;
} */

.rowLine1{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    gap: 15%;
    margin-bottom: 8%;  
    margin-left: -20%; 
    height: 150%;
    /* background-color: darkgoldenrod; */
}

.rowLine2{
    display: flex;
    gap: 13%;
    margin-bottom: 5%;
    margin-left: -20%;  
}

.employeeData{
    margin-left: -20%;  
}

.table{
    border-spacing: 1em 1em;
}

ol.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: black;
    color: white;
    margin-left: -20%; 
}
